{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_completion_progress/completion_progress

    Produces a progress bar.

    Example context (json):
    {
        "novisibleactivities": false,
        "simple": false,
        "courseid": 1,
        "instanceid": 1,
        "userid": 99,
        "cellsperrow": 4,
        "displaynow": true,
        "useicons": true,
        "barwrap": false,
        "barscroll": false,
        "barsqueeze": true,
        "cells": [
            {
                "activityid": 349,
                "haslink": "not-allowed",
                "firstnow": true,
                "firsthalfnow": false,
                "lasthalfnow": false,
                "submittednotcomplete": true,
                "completed": false,
                "notcompleted": false,
                "futurenotcompleted": false,
                "activitylink": "https://url/",
                "activityicon": "https://url/",
                "activityname": "Text",
                "activityonclick": "void(0)",
                "infoicon": "tick",
                "infocomplete": true,
                "infopassed": false,
                "infofailed": false,
                "infoincomplete": false,
                "infosubmitted": false
            }
        ],
        "progresspercentage": "0%",
    }
}}
{{#novisibleactivities}}
    {{#str}} no_visible_activities_message, block_completion_progress {{/str}}
{{/novisibleactivities}}
{{^novisibleactivities}}
    <div class="block_completion_progress">
        <div class="barContainer" data-courseid="{{courseid}}" data-instanceid="{{instanceid}}" data-userid="{{userid}}">
            {{#barscroll}}
                <svg class="left-arrow-svg" height="30" width="30" viewBox="0 0 30 30" tabindex="0"><polygon
                    points="26,4 4,15 26,26" class="triangle-polygon"></svg>
            {{/barscroll}}

            <div class="barRow
                    {{#useicons}}barWithIcons{{/useicons}}
                    {{#displaynow}}barWithNow{{/displaynow}}
                    {{#barsqueeze}}barModeSqueeze{{/barsqueeze}}
                    {{#barwrap}}barModeWrap{{/barwrap}}
                    {{#barscroll}}barModeScroll{{/barscroll}}">
                <div class="barRowCells" style="{{#barwrap}}flex-basis: calc(100% / {{cellsperrow}}){{/barwrap}}">
                    {{#cells}}<div class="progressBarCell
                                {{#submittednotcomplete}}submittedNotComplete{{/submittednotcomplete}}
                                {{#completed}}completed{{/completed}}
                                {{#notcompleted}}notCompleted{{/notcompleted}}
                                {{#futurenotcompleted}}futureNotCompleted{{/futurenotcompleted}}"
                        data-inforef="{{instanceid}}-{{userid}}-{{activityid}}"
                        data-haslink="{{haslink}}">
                        {{#firstnow}}
                            <div class="nowDiv firstNow">
                            {{#pix}} left, block_completion_progress {{/pix}}{{#str}} now_indicator, block_completion_progress {{/str}}
                            </div>
                        {{/firstnow}}
                        {{#firsthalfnow}}
                            <div class="nowDiv firstHalfNow">
                            {{#pix}} left, block_completion_progress {{/pix}}{{#str}} now_indicator, block_completion_progress {{/str}}
                            </div>
                        {{/firsthalfnow}}
                        {{#lasthalfnow}}
                            <div class="nowDiv lastHalfNow">
                            {{#str}} now_indicator, block_completion_progress {{/str}}{{#pix}} right, block_completion_progress {{/pix}}
                            </div>
                        {{/lasthalfnow}}
                    </div>{{/cells}}
                </div>
            </div>

            {{#barscroll}}
                <svg class="right-arrow-svg" height="30" width="30" viewBox="0 0 30 30" tabindex="0"><polygon
                    points="4,4 26,15 4,26" class="triangle-polygon"></svg>
            {{/barscroll}}
        </div>

        {{#progresspercentage}}
            <div class="progressPercentage">
                {{#str}} progress, block_completion_progress {{/str}}: {{progresspercentage}}
            </div>
        {{/progresspercentage}}

        <div class="progressEventInfo">
            {{^simple}}
                {{#str}} mouse_over_prompt, block_completion_progress {{/str}}
                <a href="#" class="accesshide progressShowAllInfo">{{#str}} showallinfo, block_completion_progress {{/str}}</a>
            {{/simple}}
        </div>

        {{#cells}}
            <div class="progressEventInfo" data-inforef="{{instanceid}}-{{userid}}-{{activityid}}" style="display: none">
                {{#activitylink}}
                    <a href="{{activitylink}}" {{#activityonclick}} onclick="{{activityonclick}}" {{/activityonclick}}>
                        <img src="{{activityicon}}" class="moduleIcon" alt="" role="presentation">
                        {{{activityname}}}
                    </a>
                {{/activitylink}}
                {{^activitylink}}
                    <img src="{{activityicon}}" class="moduleIcon" alt="" role="presentation">
                    {{{activityname}}}
                {{/activitylink}}
                <br>
                {{#infocomplete}}
                    {{#str}} completed, completion {{/str}}
                {{/infocomplete}}
                {{#infopassed}}
                    {{#str}} completion-pass, completion {{/str}}
                {{/infopassed}}
                {{#infofailed}}
                    {{#str}} completion-fail, completion {{/str}}
                {{/infofailed}}
                {{#infosubmitted}}
                    {{#str}} completion-n, completion {{/str}}
                    ({{#str}} submitted, block_completion_progress {{/str}})
                {{/infosubmitted}}
                {{#infoincomplete}}
                    {{#str}} completion-n, completion {{/str}}
                {{/infoincomplete}}
                {{#pix}} {{infoicon}}, block_completion_progress {{/pix}}
                <br>
                {{#activityexpected}}
                    <div class="expectedBy">
                        {{#str}} time_expected, block_completion_progress {{/str}}:
                        {{#userdate}} {{activityexpected}}, {{#str}} strftimedate, langconfig {{/str}} {{/userdate}}
                    </div>
                {{/activityexpected}}
            </div>
        {{/cells}}
    </div>
{{/novisibleactivities}}
