<div class="block_completion_progress">
    <div class="progress rounded {{state}}-bg-transparent" style="height: 4px;">
        <div class="progress-bar {{state}}-bg " style="width: {{ percent }}%" role="progressbar"
             aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <p class="percent {{state}}-text">{{ percent }}%</p>
</div>